<%= render 'sessions/session' %>
<%= render 'form' %>

<div class= 'search'>
  <div class = 'error'>
    <%= flash[:error] unless flash[:error].blank? %>
  </div>

  <div class = 'heading_tag'>
    <% if current_staff.admin == 'sadmin' || current_staff.admin == 'loadmin' %>
      <span class='silent_device_button'> <%= button_to 'Unresponsive Devices Information', silent_device_path(), class: 'silent_button_style' %></span>
    <% end %>
    <h2> Search Customer/Device Information </h2>
  </div>
  <dl>
    <dt>BOC Customer UUID</dt> <dd>Customer UUID that BOC sends back when creating an account (e.g. {XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX}).</dd>
    <dt>S/N</dt> <dd>Serial number of the device (9 digits or 15 digits).</dd>
    <dt>BOC Device ID</dt> <dd>Unique Device ID that is stored in BOC database (e.g. XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)</dd>
  </dl>
</div>
