<div class = 'consumable'>
  <dl>
    <dt>Consumables</dt>
  <dd>
  <% if consumable.present? %>
    <% consumable.each do |c| %>
      <% consumables(parser(c)).try(:each)  do |k,v| %>
        <% if !v.nil? %>
        <%= k %> :
        <%= v[:value] %>
        <% end %>
      <% end %>
      ( since <%= c.updated_date %> )
    <% end %>
  <% else %>
    -
  <% end %>
</dd></dl>
</div>
