<div class = 'consumable'>
  <dl>
    <dt>Consumables</dt>
  <dd>
  <% if consumable.present? %>
    <% consumable.each do |c| %>
      <% consumables(c['object_id'], parser(c)).try(:each)  do |k,v| %>
        <% if !v.nil? %>
        <dl>
          <span ><span style='font-weight: bold; padding: 5px'><%= k %>:</span> <%= v[:value] %>, </span>
          <p>in</p>
        <% end %>
      <p>out</p>
      <% end %>

  <!--    <dd>( since <%= c.updated_date %> )</dd> -->
      </dl>
    <% end %>
  <% else %>
    -
  <% end %>
</dd></dl>
</div>
