<div class = 'subscription'>
  <dl>
  <dt>Subscription Status</dt>
  <dd>
    <% if subscription.present? %>
      <%= link_to 'Subscription', subscription_path(uuid: @device.first.device_id) %>
    <% else %>
       Unsubscribed
    <% end %>
  </dd></dl>
</div>
