<h1>Unresponsive Devices Information</h1>

<p id='silent_text'> Search devices which are unresponsive for over </p>
<div id='silent_form'>
  <%= form_for(:unresponsive_search, url: silent_device_search_path, method: :get) do |f|%>
    <%= f.text_field :days, autofocus: true, size: 2 %>  <span id='silent_span'>days</span>
    <%= f.submit 'Search'%>
  <% end %>
</div>
