<div class='device_detail'>
  <h2> Device Information </h2>
  <dl>
    <dt>Model Name</dt>
    <dd><%= device_info.tbl_mfc_model.name %></dd>
    <dt>Serial Number</dt>
    <dd><%= device_info.serial %></dd>
    <dt>BOC Device ID</dt>
    <dd><%= device_info.device_id %></dd>
  </dl>
</div>
