<div class = 'subscription'>
  <dl>
  <dd>
    <% if subscription.present? %>
      <%= button_to 'Get Subscription Status', subscription_path(uuid: uuid, device_id: device_id), method: :post %>
    <% else %>
       Unsubscribed
    <% end %>
  </dd></dl>
</div>
