<div class = 'subscription'>
  <%= button_to 'Get Subscription Status', subscription_path(device_id: device_id), method: :get, disabled: !subscription.present? %>
  <% unless subscription.present? %>
    <div id='unsubscribed'> The device is not subscribed. </div>
  <% end %>
</div>
