// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back_to_customer {
  float: left;
}

.to_device_setting {
  margin-left: 85%;
  margin-top: 20px;
}

.firmware {
  font-weight: bold;
}

.page_count {
  font-weight: bold;
}

.subscribe_back {
  position: absolute;
  margin-top: 20px;
}

.subscription_detail {
  margin-top: 70px;
}

#bhistory {
  position: relative;
  top: -50px;
  left: 180px;
}

#back_to_devices {
  margin-top: 20px;
}

.time_unit {
  position: relative;
  left: 50px;
}

.since {
  position: relative;
  margin-left: 20px;
}
