// Place all the styles related to the DeviceSetting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.device_setting {
  margin-top: 20px;
  #bdelete {
    float: right;
    clear: right;
    margin-top: -75px;
  }
  #breboot {
    float: right;
    clear: both;
    margin-top: -60px;
  }
  #benablelog {
    float: right;
    clear: right;
    margin-top: -30px;
  }
  #bsetting {
    float: left;
    clear: right;
  }
  #bsubscription {
    float: left;
    clear: both;
    margin-left: -220px;
    margin-top: -13px;
  }
  #bmaintenance {
    float: left;
    clear: both;
    margin-top: -13px;
  }
 .data {
  float: left;
  clear: both;
 }
}
.back_to_device {
  clear: both;
}
.device_setting_search {
  clear: both;
  margin-top: 150px;
  input[type=text] {
    width: 350px;
  }
  input[type=submit] {
    width: 100px;
  }
}

.subscription_style {
  text-align: center;
}
